/*div.header_title, div.navigation, div.body, div.links{
  border:1px;
  border-style: solid;
  border-color: black;
*/


#kindy {text-align: center;}
div.header_title{
}

div.header_title img{
  width:25%;
  height:25%;
}

div.navigation ul li, div.links ul li{
  list-style-type: none;
}

div.navigation{
  position:relative;
  width:100%;
  height:auto;
/*  float: left;
*/}

#navmenu {
  margin-left: 150px;
}

div.navigation a {
    padding: 0px 30px 0px 30px;

}

.social {
  float: right;
  display: inline;
  margin-top: -30px;
}


div.body{
  position:relative;
  top:auto;
  left:10%;
  width:65%;
  background-color: white;
/*  display: inline-block;
*//*  margin-left: 4px;
*/}

div.body p {
  padding: 5px;
}

body {
  background-color: #d0d0d0;
}

h1 {
  color:143DE8;
}

a {
  color: 4632FF;
  text-decoration: underline;
}

a:hover {
  color: 46A9FF;
  text-decoration: underline;
}

div.links{
  position:relative;
  left:80%;
  width:auto;
/*  margin-left: 6px;
*/  margin-top: -24.8%
}

div.footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:black;
}

#footer p {
  color: white;
  margin-top: 5px;
}

#wrapper {
  min-height:100%;
  position:relative;
}
#header, head {
  padding:10px;
  background:B0B1BD;
}
#content {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer element */
}
#footer {
  width:101%;
  height:30px;
  position:fixed;
  bottom:1;
  left:0;
  background:black;
  margin-left: -7px;
}

div#twitter-widget-0, div#twitter-widget-0, .timeline, #twitterfeed {
  width: 250px;
  float: right;
  position: absolute;
  top: 15%;
  left: 75%;
  padding-bottom: 40px;
}
/*div.body{
  position:relative;
  left:15%;
  top:35%;
}*/